body {
  margin: 0;
  font-family: Arial;
  background: #0f1115;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1a1d24;
  border-bottom: 1px solid #333;
}

nav button {
  margin-left: 8px;
  background: #222;
  border: 1px solid #333;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}

.page {
  display: none;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.page.active {
  display: block;
}

.card {
  background: #1e1e1e;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #333;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #0f1115;
  color: white;
  border: 1px solid #333;
}

button {
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
